.content {
    padding: 20px;
}

img.left {
    float: left;
    padding: 20px;
}

.right-image img {
    float: left;
}

.left-image img {
    float: left;
}

.right-image > div {
    float: left
}

.promotion {
}

.circle-item {
    display: table;
}

.circle-item > a, .circle-item > span {
    font-weight: bold;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
}

.circle-item > a:hover {
    text-decoration: none;
}

.no-image {
    background-color: #99A7B6;
    color: white;
}

a.no-image:hover {
    background-color: #808e9d;
}

.main-content {
    border: 1px solid black;
}

#loading {
    width: 100%;
    height: 100%;
    background: rgba( 255, 255, 255, .8 )
    url('http://i.stack.imgur.com/FhHRx.gif')
    50% 50%
    no-repeat;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}