@mixin box-shadow($shadows...) {
  -moz-box-shadow: $shadows;
  -webkit-box-shadow: $shadows;
  box-shadow: $shadows;
}

@mixin rounded-corners($top-radius, $bottom-radius) {
  -moz-border-radius: $top-radius $top-radius $bottom-radius $bottom-radius;
  -webkit-border-radius: $top-radius $top-radius $bottom-radius $bottom-radius;
  border-radius: $top-radius $top-radius $bottom-radius $bottom-radius;
}

#category-list {
  margin-left: 0px;

  li {
    margin-bottom: 15px;
    background-color: #FFFAE5;
    list-style: none;

    $background-color-common: #fea;

    a.main-info {
      text-decoration: none;
      color: #D44D17;
      :hover {
        text-decoration: none;
      }
    }

    h2.category-link {
      @include rounded-corners(5px, 0px);
      background-color: $background-color-common;
      padding: 5px 15px;
      font-size: 1.3em;
      line-height: 20px;
      font-weight: normal;
      margin: 0;
    }

    span.category-description {
      color: #555;
      display: block;
      padding: 5px 15px;
      color: #535353;

      &:hover{
        @include rounded-corners(0px, 0px);
        background-color: $background-color-common;
      }
    }

    $am-width: 220px;
    $am-corner-radius: 5px;
    $am-element-padding: 6px;
  }
}

#categories-seo h2 {
    font-size: 1.2em;
}
