#disks-list {
    list-style: none;

    margin-left: 0;
    margin-bottom: 20px;
}

#disks-list li {
    margin-bottom: 10px;

    border-bottom: 1px solid #f5f5f5;
    padding: 0 0 10px 0;
}

#disks-list li:hover {

}

#disks-list li a {

}

#disks-list li p {
    margin-left: 20px;
}

@media (max-width:480px) {
    #disks-list li p {
        display: block;
        margin-left: 0;
    }
}