#category-list {
  margin-left: 0px; }
  #category-list li {
    margin-bottom: 15px;
    background-color: #FFFAE5;
    list-style: none; }
    #category-list li a.main-info {
      text-decoration: none;
      color: #D44D17; }
      #category-list li a.main-info :hover {
        text-decoration: none; }
    #category-list li h2.category-link {
      -moz-border-radius: 5px 5px 0px 0px;
      -webkit-border-radius: 5px 5px 0px 0px;
      border-radius: 5px 5px 0px 0px;
      background-color: #ffeeaa;
      padding: 5px 15px;
      font-size: 1.3em;
      line-height: 20px;
      font-weight: normal;
      margin: 0; }
    #category-list li span.category-description {
      color: #555;
      display: block;
      padding: 5px 15px;
      color: #535353; }
      #category-list li span.category-description:hover {
        -moz-border-radius: 0px 0px 0px 0px;
        -webkit-border-radius: 0px 0px 0px 0px;
        border-radius: 0px 0px 0px 0px;
        background-color: #ffeeaa; }

#categories-seo h2 {
  font-size: 1.2em; }
