@font-face {
  font-family: 'Norican';
  font-style: normal;
  font-weight: 400;
  src: local("Norican Regular"), local("Norican-Regular"), url(http://themes.googleusercontent.com/static/fonts/norican/v1/WG5BKl7e-3DIN75Tz4bREg.woff) format("woff"); }

body {
  padding-top: 50px;
  padding-bottom: 60px; }

.navbar .brand {
  margin-top: -5px; }

a {
  text-decoration: underline; }

a.btn, a.brand, .category-line a {
  text-decoration: none; }

.hidden {
  display: none; }

.badge-beta {
  /*font-style: italic;*/
  font-family: 'Norican', fantasy;
  font-size: 13px;
  vertical-align: super;
  text-shadow: 1px 1px 2px black; }

.clear {
  clear: both; }

.navbar .btn, .navbar .btn-group {
  margin-bottom: 0px;
  margin-top: -3px; }

span.category_description {
  color: #535353; }

/* https://github.com/twitter/bootstrap/issues/304#issuecomment-2752717 */
.pagination.center {
  /*word-spacing: -1em; */
  /* hide whitespace between elements if separated by whitespace in the source */
  text-align: center; }

.pagination.center li {
  display: -moz-inline-box;
  display: inline-block;
  word-spacing: normal;
  vertical-align: top;
  /* IE6/7 inline-block hack */
  *display: inline;
  *zoom: 1; }

#footer {
  border-top: 1px solid #FFCC00; }
  @media (max-width: 320px) {
    #footer .socials:after {
      content: "\A";
      white-space: pre; }
    #footer .copyright:after {
      content: "\A";
      white-space: pre; } }

.category-line a {
  color: #D44D17; }
  .category-line a :hover {
    text-decoration: none; }

h1 {
  font-size: 2.4em; }
  @media (max-width: 979px) {
    h1 {
      font-size: 2.3em; } }

h2 {
  font-size: 1.8em; }

h3 {
  font-size: 1.4em; }

.vk-icon {
  background-position: -50px 0; }

.twit-icon {
  background-position: -25px 0; }

.social-icon {
  background-image: url(/themes/twitter/img/main-sprite.png);
  width: 24px;
  height: 24px;
  display: inline-block;
  vertical-align: middle;
  margin: -2px 5px 0 5px; }

.nowrap {
  white-space: nowrap; }

.login-div {
  display: inline-block;
  vertical-align: top; }

#login-left {
  float: left;
  max-width: 360px; }

#login-right {
  max-width: 380px; }

.login-separator {
  font-weight: bold;
  color: blue;
  font-size: 1.4em; }

#login-middle {
  height: 300px;
  margin: 0 10px; }

#login-middle-horizontal {
  max-width: 380px;
  width: 100%; }

#login-middle-horizontal span {
  display: inline-block;
  vertical-align: middle; }

#login-middle span {
  display: block;
  margin: 0 auto; }

.login-vertical-line {
  height: 47%;
  background-color: #E7EAEC;
  width: 2px;
  margin-top: 4px !important; }

.login-horizontal-line {
  width: 50%;
  background-color: #E7EAEC;
  height: 2px;
  margin-top: 4px; }

#login-middle-horizontal {
  display: none; }

.page-switcher {
  text-align: right; }

.full-description {
  margin: 20px 0; }

#adsense {
  overflow: hidden;
  text-align: center; }

.admin-action {
  margin: 20px 0;
  padding: 10px;
  background: lightyellow; }

.support-button {
  border: 0;
  background-color: transparent;
  overflow: hidden;
  margin-left: 20px; }

@media (min-width: 1200px) {
  #content-wrapper {
    width: 1200px;
    margin: 0 auto;
    padding: 0; }

  .navbar-fixed-top {
    margin: 0px auto;
    width: 1200px; }

  #content-fluid {
    border: 1px solid #FFCC00;
    margin-top: -11px;
    width: 99.9%; } }
@media (max-width: 979px) {
  h2 {
    font-size: 1.7em; }

  h3 {
    font-size: 1.3em; }

  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-top: -50px; }

  .pagination li.page {
    display: none; }

  .pagination li.active {
    display: inline-block; }

  #login-form > div {
    display: block; }

  #login-middle {
    display: none !important; }

  #login-middle-horizontal {
    display: block; } }
@media (max-width: 767px) {
  h1 {
    font-size: 1.8em; }

  h2 {
    font-size: 1.2em; }

  h3 {
    font-size: 1.1em; }

  #content-wrapper {
    /*width: 100%;*/
    margin: 0 auto;
    margin-right: -20px;
    margin-left: -20px;
    margin-top: -20px; }

  .navbar-fixed-top, .navbar-fixed-bottom {
    margin-top: -50px; }

  #reformal_tab {
    display: none !important; }

  .login-separator {
    font-size: 1.2em; }

  .login-horizontal-line {
    margin-top: 3px; } }
@media (max-width: 480px) {
  .brand {
    float: left !important;
    width: 70% !important; }

  .login-separator {
    font-size: 1em; }

  .login-horizontal-line {
    margin-top: 2px; } }
