#text {
    margin: 20px 0;

    padding: 10px;
    background-color: #F9F9F9;
}

#image {
    margin-bottom: 20px;

}

#answers {

}

#answer-form {

}

#options {

}

.pagination input.btn {
    line-height: 30px;
}

#options input {
    vertical-align: top;
}

#text {
    margin: 20px 0;

    padding: 10px;
    background-color: #F9F9F9;
}

#image {
    margin-bottom: 20px;

}

#answers {

}

#answer-form {

}

#options {

}

#options label{
    display: inline-block;
    padding-bottom: 5px;
    max-width: 90%;
    vertical-align: top;
}

.spoilerCont {
    display: none;
    padding: 10px;
    border: solid 1px #f9f2d2;
}

.spoiler > a {
    display: block;
    padding: 10px 10px;
    margin: 0;
    cursor: pointer;
    background-color: #f9f2d2;
    text-decoration: none;
}

.spoiler {
    margin-bottom: 30px;
}

ol.view {
    margin-bottom: 30px;
}

ol.view li span {
    padding: 5px 10px;
    line-height: 28px;
}

li.correct {
    /*color: green;*/
}
li.correct span {
    background: #d2f6c8;
}

li.user-incorrect {
    /*color: red;*/
}

li.user-incorrect span {
    background: #ffe0d7;
}

#back-link {
    margin-bottom: 20px;
}

.finish-link {
    margin-left: 40px;
}