#results {

}

#results thead tr {

}

#results thead td {
    text-align: center;

}

#results thead {
    background-color: #f5f5f5;

    font-weight: bold;
}

#results tr {

}

#results td {
    border: 1px solid;

    text-align: right;
    padding: 2px 15px;
}
