#results td {
    text-align: left;
}

#results tr.incorrect {
    background-color: rgba(254, 53, 72, 0.41);
}

#correct-answers {
    padding: 20px 0;
}

#history, #next-link {
    padding-top: 20px;
}

.explanation {
    background-color: #e1e1e1;
    display: none;
}